@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url(https://images.pexels.com/photos/4691599/pexels-photo-4691599.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.title {
    font-family: "Bebas Neue", sans-serif;
    -webkit-text-stroke: 1px black;
    letter-spacing: 2px;
    font-size: 60px;
    color: white;
    text-align: center;
    border-bottom: 2px solid black;
}

.det summary {
    font-family: "Bebas Neue", sans-serif;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 2px;
    color: white;
}

.container {
    background-color: black;
    position: relative;
    height: 500px;
    width: 500px;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.pink {
    background-color: pink;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.green1 {
    top: 100px;
    left: 200px;   
}

.pink1 {
    top: 200px;
    left: 200px;
}

.blue4 {
    bottom: 0;
    right: -100px;
    
}

.red4 {
    bottom: -100px;
    right: -100;    
}

.green4 {
    top: 0;
    right: -100px;    
}

.pink4 {
    bottom: -100px;
    right: 0px;
}


