/* Restablecer los márgenes predeterminados */
* {
    margin: 0;
    padding: 0;
}

/* Variables CSS */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #37823b;
    --background-color: #f4f4f9;
    --text-color: #333;
    --border-color: #ddd;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --padding: 10px;
    --margin: 20px;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    padding: 40px 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}

.container-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--margin);
}

.container-create button,
#formulario-animal button,
table button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: var(--padding) 20px;
    margin: 15px 10px 15px 10px;
}

.container-create button:hover,
#formulario-animal button:hover,
table button:hover {
    background-color: var(--secondary-color);
}

#formulario-animal {
    display: none;
    width: 95%;
    display: flex;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.container-create form {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#formulario-animal input {
    margin: var(--padding);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

#formulario-animal input#alimentado {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin) auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    text-align: center;
}

td, th {
    border: 1px solid var(--border-color);
    padding: 5px 15px;
}

th {
    background-color: var(--primary-color);
    font-size: 22px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

tr:hover {
    background-color: #f1f1f1;
}

.feeded {
    text-decoration: line-through;
}